<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/TibRVPlayground/src/ch/mtrail/tibrv/playground/ListenThreadJavaB.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="ch.mtrail.tibrv.playground.ListenThreadJavaB"/>
<stringAttribute key="org.eclipse.jdt.launching.PROGRAM_ARGUMENTS" value="-service 7201 -network &quot;;224.1.1.1&quot; -threads 3 HH.TEST.&gt;"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="TibRVPlayground"/>
</launchConfiguration>
