<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/TibRVPlayground/src/ch/mtrail/tibrv/playground/Send.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="ch.mtrail.tibrv.playground.Send"/>
<stringAttribute key="org.eclipse.jdt.launching.PROGRAM_ARGUMENTS" value="-service 7201 -network &quot;;224.1.1.1&quot; -interval 51 &quot;Movie Frame&quot; HH.TEST.VIDEO_STREAM.HEIDI_MOV"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="TibRVPlayground"/>
</launchConfiguration>
